.aa {
  width: 250px; /* Ajuste la largeur selon ton design */
  min-height: 100vh; /* Assure qu'elle prend toute la hauteur */
  position: fixed; /* Garde la barre en place */
  left: 0;
  top: 0;
  background-color: #1a202c; /* Ajuste selon ton design */
  overflow-y: auto;
  }
  