<div class="grid grid-cols-3 gap-8 w-full mx-auto mt-10 px-6">
  <!-- Partie gauche (2 graphiques en colonne) -->
  <div class="col-span-2 flex flex-col gap-8">
    <!-- Premier graphique : Besoins par mois -->
    <div>
      <h2 class="text-center">Besoins Créés Par Mois</h2>
      <canvas baseChart
        [data]="besoinsParMoisData"
        [options]="chartOptions"
        [type]="'line'">
      </canvas>
    </div>

    <!-- Deuxième graphique : Besoins par utilisateur -->
    <div>
      <h2 class="text-center">Nombre de besoins Créés Par Utilisateur</h2>
      <canvas baseChart
        [data]="besoinsParUserData"
        [options]="chartOptions"
        [type]="'bar'">
      </canvas>
    </div>
  </div>

  <!-- Partie droite (1 seul graphique) -->
  <div>
    <h2 class="text-center">Nombre de Besoins Par Statut</h2>
    <canvas baseChart
      [data]="besoinsParStatusData"
      [options]="chartOptions"
      [type]="'pie'">
    </canvas>
  </div>
</div>
