






<div class="flex flex-col w-full bg-white" >
  <div class="w-full flex flex-col">
    
    <head>
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet"
      />
      <!-- Google Fonts -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
      />
      <!-- MDB -->
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.2.0/mdb.min.css"
        rel="stylesheet"
      />
    </head>
    <div class="max-h-[100vh] overflow-y-auto">
    <table class="table align-middle mb-0 bg-white min-w-full">
      <thead class="bg-light">
        <tr>
          <th>Titre de societe</th>
          <th>Secteur</th>
          <th>Status</th>
          <th>Effectif</th>
          <th>Pays</th>
          <th>Telephone</th>
          
          
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of liste">
          <td>
            
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ company.name }} </p>
              </div>
            
          </td>
          <td>
            <p class="fw-normal mb-1">{{ company.sector }}</p>
            
          </td>
          <td>
            <span 
              [ngClass]="{
                 'badge-danger': company.status === 'Prospect',
                  'badge-warning': company.status === 'Client',
                  'badge-success': company.status === 'Client_direct',
                  'badge-info': company.status === 'Fournisseur',
                  'badge-primary': company.status === 'Partenaire',
                  'badge-secondary': company.status === 'Piste',
                  'badge-light': company.status === 'Archivé',
                  'badge-dark': company.status === 'Client via intermédiaire',
                  'badge-default': company.status === 'Intermédiaire de facturation'
              
              }">
              {{ company.status }}
            </span>
          </td>
          
          <td> {{ company.effective }}</td>

          <td><p class="text-sm text-gray-500">{{ company.country}} </p></td>

          <td><p class="text-sm text-gray-500">{{company.phone }}</p></td>
        

          
          
            <span class="d-flex "><button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="editCompany(company)">
              Ouvrir Fiche
            </button>
            </span>
            
          
          
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>



