<script src="https://cdn.tailwindcss.com"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<div class="flex flex-col w-full bg-white" *ngIf="Dashboard==false">
  <div class="w-full flex flex-col">
    <div
      class="fixed top-0 left-[250px] right-0 flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
      <div class="flex">
        <div class="flex-1">
          <h2
            class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate flex flex-row items-center">
            <img src="assets/images/logo/target.svg" alt="file" class="w-10 h-10">
            <span class="ml-4">Besoins ({{nbBesoins}})</span>
          </h2>
          <div class="flex flex-row items-center">
            <mat-button-toggle-group
              [(ngModel)]="mode"
              class="mt-1"
              name="favoriteColor"
              aria-label="Favorite Color"
              (change)="switchMode($event)">
              <mat-button-toggle value="kanban">
                <mat-icon fontIcon="view_kanban"></mat-icon>Kanban
              </mat-button-toggle>
              <mat-button-toggle value="list">
                <mat-icon fontIcon="list"></mat-icon>List
              </mat-button-toggle>
            </mat-button-toggle-group>

            <div class="relative flex flex-row items-center ml-2">
              <button (click)="toggleFilterPanel()" class="bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2 rounded-full shadow transition duration-200">Filtrer</button>
              <div *ngIf="showFilterPanel"
                class="absolute top-full mt-2 left-0 w-72 bg-gray-50 p-4 rounded shadow z-50">
                <div>
                  <label class="block text-sm font-medium text-gray-700">Sélectionnez la méthode de filtrage</label>
                  <select [(ngModel)]="selectedFilterMethod"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                    <option value="">-- Choisir --</option>
                    <option value="managerResponsable">Nom du manager responsable</option>
                    <option value="company">Nom du société</option>
                    <option value="contact">Nom de contact</option>
                    <option value="dateExact">Date précise</option>
                    <option value="dateRange">Plage de dates</option>
                    <option value="nonAffectedbesoin" [hidden]="user.role!='Directeur Associé'">Besoin non affceté</option>
                  </select>
                </div>
                <form [formGroup]="filterForm" class="mt-4">
                  <div [ngSwitch]="selectedFilterMethod">

                    <div *ngSwitchCase="'managerResponsable'">
                      <label for="companyFilter" class="block text-sm font-medium text-gray-700">Nom du manager responsable</label>
                      <input id="companyFilter" type="text" formControlName="managerResponsable"
                        placeholder="Rechercher par nom du manager responsable" (input)="filterBesoins()"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
                    </div>

                    <div *ngSwitchCase="'company'">
                      <label for="companyFilter" class="block text-sm font-medium text-gray-700">Nom du société</label>
                      <input id="companyFilter" type="text" formControlName="company"
                        placeholder="Rechercher par nom de société" (input)="filterBesoins()"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
                    </div>
                    <div *ngSwitchCase="'contact'">
                      <label for="contactFilter" class="block text-sm font-medium text-gray-700">Nom de Contact</label>
                      <input id="contactFilter" type="text" formControlName="contact"
                        placeholder="Rechercher par nom de contact" (input)="filterBesoins()"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
                    </div>
                    <div *ngSwitchCase="'dateExact'">
                      <label for="dateExact" class="block text-sm font-medium text-gray-700">Date précise</label>
                      <input id="dateExact" type="date" formControlName="dateExact" (change)="filterBesoins()"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
                    </div>
                    <div *ngSwitchCase="'dateRange'">
                      <label for="startDate" class="block text-sm font-medium text-gray-700">Date de début</label>
                      <input id="startDate" type="date" formControlName="startDate" (change)="filterBesoins()"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
                      <label for="endDate" class="block text-sm font-medium text-gray-700 mt-2">Date de fin</label>
                      <input id="endDate" type="date" formControlName="endDate" (change)="filterBesoins()"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
                    </div>
                    <div *ngSwitchDefault>
                      <p class="text-gray-500">Veuillez sélectionner une méthode de filtrage</p>
                    </div>
                  </div>
                </form>
                <div class="mt-4">
                  <button type="button" (click)="filterBesoins()"
                    class="bg-blue-600 text-white px-4 py-2 rounded">Filtrer</button>
                </div>
              </div>
            </div>

          </div>
          <hr class="mt-4 border-gray-300" style="width: 125%; margin-left: -33px;" />
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
          <button class="bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2 rounded-full shadow transition duration-200" data-cy="open-add-besoin" (click)="openAddModal()" [disabled]="user?.role=='Manager De Production'">
            + Ajouter
          </button>
        </div>
      </div>

      <div class="px-4 w-full sm:flex-col md:flex-row flex">
        <div class="sm:w-full w-2/3 flex flex-col sm:mt-2 md:mt-0">
          <div class="py-4"></div>
          <div>
            <div class="relative" *ngIf="mode === 'kanban'">
              <button (click)="scrollKanban('left')"
                class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white p-2 rounded-full z-10 focus:outline-none"
                aria-label="Scroll Left">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <div #scrollContainer class="kanban-container overflow-x-auto">
                <div #scrollInner cdkDropListGroup class="flex space-x-4 pb-4">
                  <div *ngFor="let column of columns"
                    class="w-85 flex-shrink-0 bg-white p-4 rounded-lg shadow-lg h-full flex flex-col">
                    <div class="flex-shrink-0">
                      <div class="flex items-center space-x-2">
                        <span class="w-3 h-3 mb-3 rounded-full" [ngStyle]="{'background-color': column.color}"></span>
                        <h2 class="font-bold text-lg text-gray-700">{{ column.title }} ({{ column.besoins.length }})</h2>
                      </div>
                      <div class="h-1 w-full mt-2" [ngStyle]="{'background-color': column.color}"></div>
                    </div>
                    <div cdkDropList [cdkDropListData]="column.besoins"
                      (cdkDropListDropped)="drop($event, column.status)"
                      class="min-h-[100px] p-2 bg-gray-100 rounded-md max-h-[60vh] overflow-y-auto">
                      <div *ngFor="let besoin of column.besoins" cdkDrag (cdkDragMoved)="onDragMoved($event)"
                        class="bg-white rounded-lg shadow-md mt-2 cursor-pointer flex items-center justify-between h-24 w-full">
                        <div [ngStyle]="{'background-color': getPriorityColor(besoin.priority)}"
                          class="w-10 h-[85px] rounded-l-lg"></div>
                        <div class="p-4 w-full flex items-center justify-between" data-cy="edit-besoin"  (click)="openModal(besoin)"
                          style="margin-left: -8%;">
                          <div class="flex items-center space-x-2">
                            <div class="w-8 h-8 flex items-center justify-center rounded-full text-white font-bold"
                              [ngStyle]="{'background-color': besoin.color}">
                              {{ besoin.initiales }}
                            </div>
                            <div>
                              <h3 class="font-semibold">{{ besoin.title }}</h3>
                              <p class="text-sm text-gray-500">{{ besoin.contact.firstname }} {{ besoin.contact.lastname }}</p>
                            </div>
                          </div>
                          <div class="flex flex-col">
                            <p class="text-sm text-gray-500">{{ besoin.creationDate | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                            <p class="text-sm text-gray-500 font-semibold">{{ besoin.contact?.company?.name }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="scrollKanban('right')"
                class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white p-2 rounded-full z-10 focus:outline-none"
                aria-label="Scroll Right">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>

            <div class="flex flex-col w-full bg-white" *ngIf="mode === 'list'">
              <div class="w-full flex flex-col">
                <!-- En-tête du tableau (fixe) -->
                <div class="overflow-x-auto">
                  <table class="min-w-full divide-y divide-gray-200 bg-white">
                    <thead class="bg-gray-100 sticky top-0 z-10">
                      <tr>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Titre du Besoin</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Description</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Status</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Date de Création</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Créé Par</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Manager Responsable</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Priorité</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Action</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="overflow-x-auto max-h-[60vh] overflow-y-auto">
                  <table class="min-w-full divide-y divide-gray-100 bg-white text-sm text-gray-700">
                    <tbody>
                      <tr *ngFor="let besoin of besoins" class="hover:bg-gray-50">
                        <td class="px-3 py-2 font-semibold">{{ besoin.title }}</td>
                        <td class="px-3 py-2">{{ besoin.description }}</td>
                        <td class="px-3 py-2">
                          <span 
                            class="inline-block px-2 py-1 text-xs font-medium text-white rounded-full"
                            [ngStyle]="{ 'background-color': getStatusColor(besoin.status) }">
                            {{ besoin.status }}
                          </span>
                        </td>
                        <td class="px-3 py-2">{{ besoin.creationDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td class="px-3 py-2">{{ besoin.createdBy.firstname }} {{ besoin.createdBy.lastname }}</td>
                        <td class="px-3 py-2">
                          {{ besoin?.managerResponsable?.firstname || '-' }} {{ besoin?.managerResponsable?.lastname || '-' }}
                        </td>
                        <td class="px-3 py-2">
                          <span class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full"
                            [ngClass]="{
                              'bg-red-600': besoin.priority === 'TRÉS_HAUTE',
                              'bg-orange-500': besoin.priority === 'HAUTE',
                              'bg-yellow-300 text-black': besoin.priority === 'MOYENNE',
                              'bg-green-600': besoin.priority === 'BASSE'
                            }">
                            {{ besoin.priority !== 'RIEN' ? besoin.priority : '----' }}
                          </span>
                        </td>
                        <td class="px-3 py-2">
                          <button data-cy="edit-besoin" class="bg-blue-600 hover:bg-blue-700 text-white text-xs px-3 py-1 rounded-full transition"
                                  (click)="openModal(besoin)">
                            Ouvrir Fiche
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isAddModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
  <div class="bg-white p-4 rounded-lg w-1/3">
    <h2 class="text-xl font-bold">Ajout d'un Besoin</h2>
    <form [formGroup]="besoinAddForm">
      <br>
      <div>
        <label for="title">Titre</label>
        <input id="title" type="text" formControlName="title" class="w-full p-2 mt-1 border rounded" />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="w-full p-2 mt-1 border rounded"></textarea>
      </div>
      <div>
          <label for="contact">Contact</label>
          <select id="contact" formControlName="contact" class="w-full p-2 mt-1 border rounded">
              <option *ngFor="let contact of contacts" [ngValue]="contact.id">{{ contact.firstname }} {{ contact.lastname }} ({{contact.company.name}})</option>
          </select>
        </div>

        <div>
          <label for="priority">Priorité</label>
          <select id="priority" formControlName="priority" class="w-full p-2 mt-1 border rounded">
            <option value="TRÉS_HAUTE">TRÉS_HAUTE</option>
            <option value="HAUTE">HAUTE</option>
            <option value="MOYENNE">MOYENNE</option>
            <option value="BASSE">BASSE</option>
          </select>
        </div>
        <div [hidden]="user.role !== 'Directeur Associé'">
          <label for="manager">Manager Responable </label>
          <select id="manager" formControlName="managerResponsable" class="w-full p-2 mt-1 border rounded"
            [class.pointer-events-none]="user.role !== 'Directeur Associé'"
            [class.bg-gray-200]="user.role !== 'Directeur Associé'">
  
            <option *ngFor="let manager of fullManagerInformations" [ngValue]="manager.manager.id">
              {{ manager.manager.firstname }} {{ manager.manager.lastname }} ({{manager.nbrBesoins}})
            </option>
          </select>
        </div>

        <div class="flex justify-end gap-4 mt-2">
          <button type="button" class="bg-gray-400 text-white px-4 py-2 rounded" (click)="closeAddModal()">Annuler</button>
          <button type="button" data-cy="confirm-add-besoin"  class="bg-blue-500 text-white px-4 py-2 rounded" (click)="addBesoin()" [disabled]="besoinAddForm.invalid">Sauvegarder</button>
        </div>
    </form>
  </div>
</div>  

<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-2xl w-1/3 p-8 shadow-lg border-t-4 border-green-500 animate-fade-in">

    <div class="flex flex-col items-center">

      <div class="text-green-500 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
      </div>

      <h2 class="text-2xl font-bold text-green-600 mb-2 text-center">
        Succès !
      </h2>

      <p class="text-gray-700 text-center mb-6">
        {{ message }}
      </p>

      <div class="flex justify-center">
        <button type="button" class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-lg" (click)="closeModal()">
          Ok
        </button>
      </div>

    </div>

  </div>
</div>




<div *ngIf="isAddActionModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-40">
  <div class="bg-white p-4 rounded-lg w-1/3">
    <h2 class="text-xl font-bold">Ajout d'une Action</h2>
    <form [formGroup]="actionAddForm" (ngSubmit)="addAction()">
      <div>
        <label for="description">Description :</label>
        <input type="text" id="description" formControlName="description" class="w-full p-2 mt-1 border rounded" placeholder="Saisir la description">
      </div>

      <div class="mt-4">
        <label for="type">Type d'Action</label>
        <select id="type" formControlName="typeAction" class="w-full p-2 mt-1 border rounded">
            <option *ngFor="let type of typeActions" [ngValue]="type.name">{{ type.name}}</option>
        </select>
      </div>

    
      <div class="mt-4">
        <label for="files">Fichiers :</label>
        <input type="file" id="files" (change)="onFileSelected($event)" multiple class="w-full p-2 mt-1 border rounded">
        <span class="text-sm text-gray-700">
          Max : 10 fichiers de 10Mo max
        </span>
      </div>

      <div class="flex justify-end gap-4 mt-4">
      <button type="submit" [disabled]="actionAddForm.invalid" data-cy="confirm-add-action" class="bg-blue-500 text-white px-4 py-2 rounded">Enregistrer</button>
      <button type="button" (click)="closeActionAddModal()" class="bg-gray-400 text-white px-4 py-2 rounded">Annuler</button>
      </div>
    </form>
    
  </div>
</div>





<div class="h-screen overflow-hidden bg-gray-100" *ngIf="Dashboard==true">
  
  <div class="ml-[4%] flex flex-col h-full">
    <header class="fixed top-0 left-[19%] right-6 bg-white shadow border-b p-6 z-10 h-[20%] rounded-lg">
      <div class="flex flex-col sm:flex-row items-center justify-between">
<div class="flex-1">
  <h1 class="text-3xl font-extrabold tracking-tight flex items-center">
    <img src="assets/images/logo/file.svg" alt="file" class="w-10 h-10">
    <span class="ml-4 font-bold">Fiche du besoin</span>
  </h1>
  <div class="flex gap-4 items-end mt-2">
    <button
      (click)="selectTab('synthese')"
      [ngClass]="selectedTab === 'synthese' ? 'border-b-4 border-green-600 text-green-600' : 'text-gray-600'"
      class="px-4 pb-2 text-2xl font-bold focus:outline-none">
      Synthèse
    </button>
    <button
      (click)="selectTab('actions')"
      [ngClass]="selectedTab === 'actions' ? 'border-b-4 border-green-600 text-green-600' : 'text-gray-600'"
      class="px-4 pb-2 text-2xl font-bold focus:outline-none">
      Actions
    </button>
  </div>
</div>

        <div class="mt-4 sm:mt-0 pt-10">
          <button data-cy="confirm-save-changes"  *ngIf="selectedTab=='synthese'" class="bg-green-600 text-white px-6 py-3 rounded-full shadow "(click)="saveChanges()" [disabled]="besoinForm.invalid || user.role == 'Manager De Production'">
            Sauvegarder
          </button>

          <button data-cy="open-add-action" *ngIf="selectedTab=='actions'" class="bg-green-600 text-white px-6 py-3 rounded-full shadow" (click)="openActionAddModal()" [disabled]="user.role == 'Manager De Production'|| selectedBesoin.managerResponsable==null">
            Ajouter Une Action
          </button>

          <button class="bg-gray-600 text-white px-6 py-3 rounded-full shadow ml-2" (click)="closeDashboard()">
            Retour
          </button>
        </div>
      </div>
    </header>

    <main class="pt-[100px] overflow-y-auto h-full px-4 mt-8" *ngIf="selectedTab === 'synthese'">
      <div class="flex flex-col md:flex-row gap-4 right-100">
        <div class="md:w-2/3 flex flex-col gap-4">
          
          <div class="bg-white p-4 rounded-lg shadow">
            <h2 class="text-xl font-bold text-center mb-4">
              Détails du Besoin
            </h2>
    <form [formGroup]="besoinForm">
      <br>
      <div hidden>
          <label for="id">ID</label>
          <input id="id"  formControlName="id" class="w-full p-2 mt-1 border rounded" />
        </div>
      <div>
        <label for="title">Titre</label>
        <input id="title" type="text" formControlName="title" class="w-full p-2 mt-1 border rounded" [readOnly]="user.role == 'Manager De Production'" />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="w-full p-2 mt-1 border rounded" [readOnly]="user.role == 'Manager De Production'"></textarea>
      </div>
      <div>
          <label for="creationDate">Date De Création</label>
          <input id="creationDate" formControlName="creationDate" class="w-full p-2 mt-1 border rounded" readonly/>
        </div>
      <div>
        <label for="status">Statut</label>
        <select id="status" formControlName="status" class="w-full p-2 mt-1 border rounded" [class.pointer-events-none]="user.role == 'Manager De Production'"
        [class.bg-gray-200]="user.role == 'Manager De Production'">
          <option value="A_TRAITER">À TRAITER</option>
          <option value="ABANDONNÉ">ABANDONNÉ</option>
          <option value="OK_PREQUALIFIE">OK PRÉ-QUALIFIÉ</option>
          <option value="EN_COURS">EN COURS</option>
          <option value="GAGNÉ">GAGNÉ</option>
          <option value="PERDU">PERDU</option>
          <option value="REPORTE">REPORTÉ</option>
        </select>
      </div>
      <div>
        <label for="priority">Priorité</label>
        <select id="priority" formControlName="priority" class="w-full p-2 mt-1 border rounded" [class.pointer-events-none]="user.role == 'Manager De Production'"
        [class.bg-gray-200]="user.role == 'Manager De Production'">
          <option value="TRÉS_HAUTE">TRÉS_HAUTE</option>
          <option value="HAUTE">HAUTE</option>
          <option value="MOYENNE">MOYENNE</option>
          <option value="BASSE">BASSE</option>
        </select>
      </div>
      <div>
        <label for="manager">Manager Responable </label>
        <select id="manager" formControlName="managerResponsable" class="w-full p-2 mt-1 border rounded"
          [class.pointer-events-none]="user.role !== 'Directeur Associé'"
          [class.bg-gray-200]="user.role !== 'Directeur Associé'">

          <option *ngFor="let manager of fullManagerInformations" [ngValue]="manager.manager.id">
            {{ manager.manager.firstname }} {{ manager.manager.lastname }} ({{manager.nbrBesoins}})
          </option>
        </select>
      </div>
        
      <div>
        <label for="contact">Contact</label>
        <input id="contact" formControlName="contact" class="w-full p-2 mt-1 border rounded" readonly />
      </div>

      <div>
        <label for="createdBy">Créer Par :</label>
        <input id="createdBy" formControlName="createdBy" class="w-full p-2 mt-1 border rounded" readonly />
      </div>
              
            </form>
          </div>
          <div class="bg-white p-4 rounded-lg shadow max-h-[100vh] overflow-y-auto">
            <h2 class="text-xl font-bold text-center mb-4">
              Historique du Besoin
            </h2>
            <table class="min-w-full text-left">
              <thead class="bg-gray-200">
                <tr>
                  <th class="px-2 py-2">Titre du besoin</th>
                  <th class="px-2 py-2">Description de l'historique</th>
                  <th class="px-2 py-2">Status</th>
                  <th class="px-2 py-2">Date De Création/Changement</th>
                  <th class="px-2 py-2">Faites Par</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let besoin of historiqueDuBesoin" class="hover:bg-gray-100">
                  <td class="px-2 py-2">{{ besoin.title }}</td>
                  <td class="px-2 py-2">{{ besoin.description }}</td>
                  <td class="px-2 py-2">{{ besoin.status }}</td>
                  <td class="px-2 py-2">{{ besoin.actionDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td class="px-2 py-2">{{ besoin.actionBy }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="md:w-1/3">
          <div class="bg-white p-4 rounded-lg shadow">
            <h2 class="text-xl font-bold text-center mb-4">
              Informations Complémentaire
            </h2>
            <div class="mt-2">
              <label for="name">Nom Du Société</label>
              <input id="name" type="text" class="w-full p-2 mt-1 border rounded" value="{{selectedBesoin?.contact?.company?.name}}" readonly/>
            </div>

            <div class="mt-2">
              <label for="numm">Numéro Du Société</label>
              <input id="numm" type="number" class="w-full p-2 mt-1 border rounded" value="{{selectedBesoin?.contact?.company?.phone}}" readonly/>
            </div>

            <div class="mt-2">
              <label for="secteur">Secteur Du Société</label>
              <input id="secteur" type="text" class="w-full p-2 mt-1 border rounded" value="{{selectedBesoin?.contact?.company?.sector}}" readonly/>
            </div>
            <div class="mt-2">
              <label for="contact">Contact</label>
              <input id="contact" type="text" class="w-full p-2 mt-1 border rounded" value="{{selectedBesoin?.contact?.firstname}} {{selectedBesoin.contact.lastname}}" readonly/>
            </div>

            <div class="mt-2">
              <label for="num">Numéro Du Contact</label>
              <input id="num" type="number" class="w-full p-2 mt-1 border rounded" value="{{selectedBesoin?.contact?.phone}}" readonly/>
            </div>

            <div class="mt-2">
              <label for="email">Email Du Contact</label>
              <input id="email" type="text" class="w-full p-2 mt-1 border rounded" value="{{selectedBesoin?.contact?.email}}" readonly/>
            </div>
          </div>
        </div>
      </div>
    </main>


    <main class="pt-[100px] overflow-y-auto h-full px-8 mt-8 flex justify-center" *ngIf="selectedTab === 'actions'">
      <div class="w-full max-w-7xl">
        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-full flex flex-col gap-8">
            <div class="bg-white p-8 rounded-2xl shadow-lg">
              <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">
                Liste Des Actions
              </h2>
    
              <div class="flex-1 overflow-hidden border rounded-lg">
                <div class="overflow-y-auto max-h-[70vh]">
                  <table class="min-w-full table-auto text-left border-collapse">
                    <thead class="sticky top-0 bg-gray-100 text-gray-700 text-base uppercase tracking-wider z-10">
                      <tr>
                        <th class="px-4 py-6">Type d'action</th>
                        <th class="px-4 py-6">Description</th>
                        <th class="px-4 py-6">Créé Par</th>
                        <th class="px-4 py-6">Manager Responsable</th>
                        <th class="px-4 py-6">Fichiers</th>
                        <th class="px-4 py-6">Date Action</th>
                        <th class="px-4 py-6">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let action of BesoinActions" class="hover:bg-gray-50 text-gray-600 text-base">
                        <td class="px-4 py-6 font-semibold">{{ action.typeAction }}</td>
                        <td class="px-4 py-6">{{ action.description }}</td>
                        <td class="px-4 py-6">{{ action.createdBy.firstname}} {{action.createdBy.lastname}}</td>
                        <td class="px-4 py-6">{{action?.manager?.firstname}} {{action?.manager?.lastname}}</td>
                        <td class="px-4 py-6">
                          <ul class="list-disc list-inside space-y-1" *ngIf="action.attachments.length!=0">
                            <li *ngFor="let file of action.attachments">
                              {{ file.fileName }}
                            </li>
                          </ul>
                          <span *ngIf="action.attachments.length==0">--------</span>
                        </td>
                        <td class="px-4 py-6">{{ action.dateAction | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>
                          <div class="flex space-x-2">
                            <button type="button" class="bg-blue-500 hover:bg-blue-600 text-white text-sm px-3 py-1 rounded" (click)="openDetailsActionModal(action)">
                              Edit
                            </button>
                            <button type="button" class="bg-red-500 hover:bg-red-600 text-white text-sm px-3 py-1 rounded" (click)="openDeleteModal(action)" [disabled]="user.role=='Manager De Production'">
                              Supprimer
                            </button>
                          </div>
                        </td>
                        
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </main>

    <div *ngIf="isDeleteModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
      <div class="bg-white rounded-2xl w-1/3 p-8 shadow-lg border-t-4 border-red-500 animate-fade-in">
    
        <div class="flex flex-col items-center">
    
          <div class="text-red-500 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
            </svg>
          </div>
    
          <h2 class="text-2xl font-bold text-gray-800 mb-2 text-center">
            Confirmation de suppression
          </h2>
    
          <p class="text-gray-600 text-center mb-6">
            Êtes-vous sûr de vouloir supprimer cette action ?<br>
            Cette opération est <span class="font-semibold text-red-600">définitive</span>.
          </p>
    
          <div class="flex justify-center gap-4">
            <button type="button" class="bg-gray-400 hover:bg-gray-500 text-white px-6 py-2 rounded-lg" (click)="closeDeleteModal()">
              Annuler
            </button>
            <button type="button" class="bg-red-500 hover:bg-red-600 text-white px-6 py-2 rounded-lg" (click)="deleteAction(deletedAction.id)">
              Supprimer
            </button>
          </div>
    
        </div>
    
      </div>
    </div>
    
    
    
    
    <div *ngIf="isActionDetailsModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded-lg w-1/3">
        <h2 class="text-xl font-bold mb-4">Détails d'Action</h2>
        <div class="max-h-[85vh] overflow-y-auto">
        <form [formGroup]="DetailsActionForm">
          <div hidden>
            <label for="id">ID</label>
            <input id="id" formControlName="id" class="w-full p-2 mt-1 border rounded" />
          </div>
          <div class="mb-4">
            <label for="type">Type</label>
            <input id="type" type="text" formControlName="typeAction" class="w-full p-2 mt-1 border rounded" [readOnly]="user.role=='Manager De Production'" />
          </div>
          <div class="mb-4">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" class="w-full p-2 mt-1 border rounded" [readOnly]="user.role=='Manager De Production'"></textarea>
          </div>
          <div class="mb-4">
            <label for="creationDate">Date De Création</label>
            <input id="creationDate" formControlName="dateAction" class="w-full p-2 mt-1 border rounded" readonly />
          </div>
          <div class="mb-4">
            <label for="createdBy">Créé Par</label>
            <input id="createdBy" formControlName="createdBy" class="w-full p-2 mt-1 border rounded" readonly />
          </div>

          <div class="mb-4">
            <label for="manager">Manager Responsable</label>
          <select id="manager" formControlName="manager" class="w-full p-2 mt-1 border rounded"
          [class.pointer-events-none]="user.role == 'Manager De Production' || user.role == 'Commercial'"
          [class.bg-gray-200]="user.role == 'Manager De Production' || user.role == 'Commercial'">

          <option *ngFor="let manager of productionManagers" [ngValue]="manager.id">
            {{ manager.firstname }} {{ manager.lastname }}
          </option>
        </select>

      </div>
    
       
          <div class="mb-4">
            <label class="block">Fichiers déjà joints :</label>
            <ul class="list-disc list-inside space-y-1">
              <li *ngFor="let file of selectedAction.attachments">
                <a [attr.download]="file.fileName" [href]="'http://localhost:8080/api/action-besoin/files/' + file.filePath.replace('uploads\\', '')" target="_blank" class="text-blue-500 hover:underline">
                    {{ file.fileName }}
                  </a>
              </li>
            </ul>
            <span class="text-sm text-gray-700">
              Téléchargez les fichiers avant de joindre de nouveaux fichiers si besoin.
            </span>
          </div>
    
          <div class="mb-4">
            <label for="files" class="block">Joindre de nouveaux fichiers :</label>
            <input type="file" id="files" (change)="onFileSelected($event)" multiple class="w-full p-2 mt-1 border rounded" [readOnly]="user.role=='Manager De Production'">
            <span class="text-sm text-gray-700">
              NB : La jointure de fichiers supprimera les anciens fichiers. Si vous souhaitez les conserver, veuillez les télécharger.
            </span>
          </div>
    
          <div class="flex justify-end gap-4 mt-4">
            <button type="button" class="bg-gray-400 text-white px-4 py-2 rounded" (click)="closeDetailsActionModal()">Annuler</button>
            <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded" (click)="EditAction()" [disabled]="DetailsActionForm.invalid || user.role=='Manager De Production'">
              Sauvegarder
            </button>
          </div>
        </form>
      </div>
      </div>
    </div>
      </div>
