

.kanban-container {
  height: calc(100vh - [hauteur-de-votre-header]px); 
  overflow-x: auto;
  overflow-y:auto;
  display: flex;
  gap: 10px;
  padding: 5px;  
  
}
@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}


.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f1f1f1;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 4px;
  }
}

.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f1f1f1;
}
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 4px;
  }

  

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.relative.w-full {
  padding-top: 60px; 
}
  






.main-layout {
  display: flex;
  gap: 20px; /* espace entre gauche et droite */
  padding: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px; /* espace entre les 2 containers à gauche */
  flex: 1; /* prend de l'espace */
}

.right-side {
  flex: 1; /* prend aussi de l'espace */
}

.container1, .container2, .container3 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


/* Badge styles for list view */
.badge-danger {
  background-color: #FFA500;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-warning {
  background-color: #000080;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-success {
  background-color: #00FFFF;
  color: black;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-info {
  background-color: #FA0000;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}
.inactive{
  background-color: #efcdcd;

}

.badge-primary {
  background-color: #80FF00;
  color: black;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-secondary {
  background-color: #0096AA;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-light {
  background-color: #FF80FF;
  color: black;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-dark {
  background-color: brown;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}

.badge-default {
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}
