<form class="w-full h-full" [formGroup]="companyForm" >
    <div class="px-4 w-full sm:flex-col md:flex-row flex">
        <button type="submit" (click)="saveChanges()"
            class="fixed top-70 right-2 w-12 h-12 text-white p-1 rounded-full flex items-center justify-center shadow-lg ring-0 ring-gray-200"
            [disabled]="companyForm.invalid" [ngClass]="{
                'bg-gray-500 hover:bg-gray-600 ':companyForm.invalid,
                'bg-green-500  hover:bg-green-600':!companyForm.invalid,

            }">
            <mat-icon class="icon-size-7 text-white hover:text-white self-center">
                save
            </mat-icon>
        </button>
        <div class="sm:w-full md:w-1/2 flex flex-col">
            <app-card-synthese [customTitle]="'Informations'" [customActionLabel]="" [hasIconActions]="false">
                

                <div body>
                    <div class="grid grid-cols-2 gap-1 px-2 mt-2">
                        <div class="flex flex-col">
                            <div class="font-bold text-sm text-gray-500">
                                Societe *
                            </div>

                            <input type="text" id="input" class="form-control" placeholder=""
                                formControlName="name" />
                        </div>
                        <div class="flex flex-col">
                            <div class="font-bold text-sm text-gray-500">
                                Etat
                            </div>
                            <mat-select class="form-control" formControlName="status">
                                <mat-option *ngFor="let option of societesStatusList" [value]="option.value">
                                    <span class="status-label">
                                       
                                        <span class="status-dot" [ngStyle]="{
                                                'background-color': option.color
                                            }"></span>
                                        {{ option.name }}
                                    </span>
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="flex flex-col">
                            <div class="font-bold text-sm text-gray-500">
                                Effectif
                            </div>

                            <input type="number" id="input" class="form-control" placeholder="" value="0"
                                formControlName="effective" />
                        </div>
                        <div class="">
                            <div class="flex flex-col">
                                <span class="font-bold text-sm text-gray-500">Secteur</span>

                                <mat-select class="form-control" formControlName="sector">
                                    <mat-option *ngFor="
                                            let sector of societesSecteurList
                                        " [value]="sector.value">
                                        <span class="status-label">
                                            {{ sector.name }}
                                        </span>
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                       


                        


                        
                        <div class="">
                          
                    
                                <div class="flex flex-col">
                                    <span class="font-bold text-sm text-gray-500">Pole</span>
    
                                    <mat-select class="form-control" formControlName="pole">
                                        <mat-option *ngFor="let option of societesPoleList" [value]="option.value">
                                            <span class="status-label">
                                                {{ option.name }}
                                            </span>
                                        </mat-option>
                                    </mat-select>
                                </div>
                          
                        </div>
                        <div class="">
                            <div class="flex flex-col">
                                <span class="font-bold text-sm text-gray-500">Agence</span>

                                <mat-select class="form-control" formControlName="agency">
                                    <mat-option *ngFor=" let option of agenceList" [value]="option.value">
                                        <span class="status-label">
                                            {{ option.name }}
                                        </span>
                                    </mat-option>
                                </mat-select>
                              
                            </div>
                        </div>

                    </div>
                </div>
            </app-card-synthese>

            <app-card-synthese [customTitle]="'Coordonnées société'" [customActionLabel]="" [hasIconActions]="false">
                <div body>
                    <div class="flex flex-col px-2">
                        <div class="flex flex-col">
                            <label for="input" class="font-bold text-sm text-gray-500">Téléphone</label>
                            <input type="text" id="input" class="form-control" placeholder="" formControlName="phone" />

                            <label for="input" class="font-bold text-sm text-gray-500">Adresse</label>
                            <input type="text" id="input" class="form-control" placeholder="" formControlName="address"
                                value="" />

                            <div class="grid grid-cols-3 gap-2">
                                <div class="flex flex-col">
                                    <label for="input" class="font-bold text-sm text-gray-500">Code postal</label>
                                    <input type="text" id="input" class="form-control" placeholder=""
                                        formControlName="postalCode" />
                                </div>

                                <div class="flex flex-col">
                                    <label for="input" class="font-bold text-sm text-gray-500">Ville</label>
                                    <input type="text" id="input" class="form-control" placeholder=""
                                        formControlName="city" />


                                </div>

                                <div class="flex flex-col">
                                    <span class="font-bold text-sm text-gray-500">Pays</span>

                                    
                                    <mat-select class="form-control" formControlName="country">
                                        <mat-option *ngFor="let option of societesPaysList" [value]="option.name">
                                          <span class="status-label">
                                            {{ option.name }} <!-- Displays flag + country name -->
                                          </span>
                                        </mat-option>
                                      </mat-select>

                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </app-card-synthese>
        </div>

        <div class="sm:w-full md:w-1/2 flex flex-col">
            <app-card-synthese [customTitle]="'Informations complémentaires'" [customActionLabel]=""
            [hasIconActions]="false">
                <div body>
                    <div class="relative">
                        <div class="input-container w-full h-30 p-2">
                            <textarea type="text" class="input-field-commentaire" formControlName="informations"
                                placeholder="Rédigez vos commentaires"></textarea>
                        </div>
                    </div>
                </div>
            </app-card-synthese >

            <app-card-synthese [customTitle]="'Données légales'" [customActionLabel]="" [hasIconActions]="false">
                <div body>
                    <div class="grid grid-cols-2 gap-1 px-2">

                        <div class="flex flex-col">
                            <label for="input" class="font-bold text-sm text-gray-500">Statut juridique</label>
                            <input type="text" id="input" class="form-control" placeholder=""
                                formControlName="legalStatus" />

                        </div>


                        

                        <div class="flex flex-col">
                            <label for="input" class="font-bold text-sm text-gray-500">SIRET</label>
                            <input type="text" id="input" class="form-control" placeholder="" formControlName="siret" />


                        </div>

                       

                        <div class="flex flex-col">
                            <label for="input" class="font-bold text-sm text-gray-500">Code APE</label>
                            <input type="text" id="input" class="form-control" placeholder=""
                                formControlName="apeCode" />

                        </div>

                        

                    </div>
                </div>
            </app-card-synthese>

            

        </div>
    </div>
</form>
<p-toast />